<div class="flex flex-row w-full justify-content-between">
    <p-fileUpload
        #fileUpload
        [auto]="true"
        mode="basic"
        (onSelect)="onFileChange($event)"
        [customUpload]="true"
        accept=".pdf"
        chooseIcon="pi pi-file"
        maxFileSize="5000000"
        class="w-full max-w-30rem"
        chooseLabel="Buscar documento"
        [disabled]="selected && selected[arrayName + '.' + filename]"
        >
    </p-fileUpload>
    <button
        *ngIf="selected && selected[arrayName + '.' + filename]"
        pButton
        class="p-button-secondary"
        icon="pi pi-times"
        type="button"
        (click)="clearFile()"
    ></button>
</div>
