<p-panel>
    <div id="formatoHva">
        <div class="header px-8">
            <table class="p-datatable p-component header-table">
                <tr class="header-title">
                    <td>
                        <img
                            src="assets/layout/images/logoUnicauca.png"
                            alt="Logo Unicauca"
                            width="80px"
                            height="140px"
                        />
                    </td>
                    <td colspan="2">
                        <h1 class="text-lg">
                            Gestión Académica Gestión de Facultades y Programas
                            Académicos Estudio Hoja de Vida Académica para Grado
                        </h1>
                    </td>
                </tr>
                <tr class="header-desc">
                    <td>
                        <span>Código: PM-FO-4-FOR-27</span>
                    </td>
                    <td>
                        <span>Versión: 1</span>
                    </td>
                    <td>
                        <span>Fecha Vigencia: 30-04-2019</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt-4 px-8">
            <form [formGroup]="formatoHvaForm">
                <div class="field grid">
                    <label class="col-2" for="facultad">Facultad:</label>
                    <div class="col-10">
                        <input
                            pInputText
                            class="p-inputtext-md w-full"
                            type="text"
                            id="facultad"
                            formControlName="facultad"
                            readonly
                        />
                    </div>
                </div>

                <div class="field grid">
                    <label class="col-2" for="programa">Programa:</label>
                    <div class="col-10">
                        <input
                            pInputText
                            class="p-inputtext-md w-full"
                            type="text"
                            id="programa"
                            formControlName="programa"
                            readonly
                        />
                    </div>
                </div>

                <div class="field grid">
                    <label class="col-2" for="estudiante"
                        >Nombre del estudiante:</label
                    >
                    <div class="col-10">
                        <input
                            pInputText
                            class="p-inputtext-md w-full"
                            type="text"
                            id="estudiante"
                            formControlName="estudiante"
                            readonly
                        />
                    </div>
                </div>
            </form>
        </div>
        <div
            class="flex flex-row align-items-center justify-content-center footer-logo mt-8"
        >
            <img
                src="assets/layout/images/logosIcontec.png"
                alt="Logo Icontec"
                width="200px"
                height="140px"
            />
            <div
                class="flex flex-column align-items-center justify-content-center"
            >
                <span>Por una Universidad de excelencia y solidaria</span>
                <hr />
                <strong>
                    Facultad de Ingeniería Electrónica y Telecomunicaciones Cra
                    2 No. 4N-140 Edif. de Ingenierías - Sector Tulcán Popayán -
                    Cauca - Colombia Conmutador 8209800 Ext. 2145
                    maestriacomputacion@unicauca.edu.co - www.unicauca.edu.co
                    www.unicauca.edu.co/maestriacomputación
                </strong>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-end mt-4 column-gap-2"
        >
            <p-fileUpload
                #FileFormatoHva
                mode="basic"
                [auto]="true"
                accept=".pdf"
                chooseIcon="pi pi-paperclip"
                maxFileSize="5000000"
                chooseLabel="Adjuntar"
                [pTooltip]="
                    !!fileFormatoHva
                        ? 'Ya se ha adjuntado el documento.'
                        : 'Descargar documentos, rellenar/firmar y adjuntar en PDF.'
                "
                tooltipPosition="top"
                (onSelect)="onAdjuntar($event)"
            >
            </p-fileUpload>
            <button
                pButton
                type="button"
                icon="pi pi-download"
                label="Descargar"
                (click)="onDownload()"
                [loading]="loading"
            ></button>
        </div>
    </div>
</p-panel>
