<p-panel>
    <div id="formatoHva">
        <div class="header px-8">
            <table class="p-datatable p-component header-table">
                <tr class="header-title">
                    <td>
                        <img
                            src="assets/layout/images/logoUnicauca.png"
                            alt="Logo Unicauca"
                            width="80px"
                            height="140px"
                        />
                    </td>
                    <td colspan="2">
                        <h1 class="text-lg">
                            Gestión Académica Gestión de Facultades y Programas
                            Académicos Estudio Hoja de Vida Académica para Grado
                        </h1>
                    </td>
                </tr>
                <tr class="header-desc">
                    <td>
                        <span>Código: PM-FO-4-FOR-27</span>
                    </td>
                    <td>
                        <span>Versión: 1</span>
                    </td>
                    <td>
                        <span>Fecha Vigencia: 30-04-2019</span>
                    </td>
                </tr>
            </table>
        </div>
        <form [formGroup]="formatoHvaForm">
            <div class="container mt-4 px-8">
                <div class="flex align-items-center">
                    <div>
                        <label for="fecha-dia">Fecha:</label>
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md ml-2"
                            type="text"
                            id="fecha-dia"
                            placeholder="Día"
                            formControlName="dia"
                        />
                    </div>
                    <div class="ml-2">
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md"
                            type="text"
                            placeholder="Mes"
                            formControlName="mes"
                        />
                    </div>
                    <div class="ml-2">
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md"
                            type="text"
                            placeholder="Año"
                            formControlName="anio"
                        />
                    </div>
                </div>
                <div class="flex align-items-center mt-2">
                    <div class="flex align-items-center">
                        <label class="mr-2" for="periodoi">Periodo I:</label>
                        <p-checkbox
                            formControlName="periodoi"
                            [binary]="true"
                            inputId="periodoi"
                        ></p-checkbox>
                    </div>
                    <div class="flex align-items-center ml-2">
                        <label class="mr-2" for="periodoii">Periodo II:</label>
                        <p-checkbox
                            formControlName="periodoii"
                            [binary]="true"
                            inputId="periodoii"
                        ></p-checkbox>
                    </div>
                    <div class="ml-2">
                        <label for="anio">Año</label>
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md ml-2"
                            type="text"
                            formControlName="anioPeriodo"
                        />
                    </div>
                </div>
            </div>
            <div class="container mt-2 px-8">
                <div class="flex align-items-center justify-content-start mt-2">
                    <label
                        class="label-required"
                        style="text-wrap: nowrap"
                        for="facultad"
                        >Facultad:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="facultad"
                        formControlName="facultad"
                        readonly
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label
                        class="label-required"
                        style="text-wrap: nowrap"
                        for="programa"
                        >Programa:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="programa"
                        formControlName="programa"
                        readonly
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label
                        class="label-required"
                        style="text-wrap: nowrap"
                        for="nombre-estudiante"
                        >Nombre del Estudiante:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="nombre-estudiante"
                        formControlName="nombreEstudiante"
                        readonly
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="cedula"
                        >Cédula de Ciudadanía:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="cedula"
                        formControlName="cedulaCiudadania"
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="lugar-expedicion"
                        >Lugar de Expedición:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="lugar-expedicion"
                        formControlName="lugarExpedicion"
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="codigo"
                        >Código:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="codigo"
                        formControlName="codigo"
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="telefono-fijo"
                        >Teléfono Fijo:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="telefono-fijo"
                        formControlName="telefonoFijo"
                    />
                    <label
                        style="text-wrap: nowrap"
                        class="ml-4"
                        for="telefono-celular"
                        >Teléfono Celular:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="telefono-celular"
                        formControlName="telefonoCelular"
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="codigo-saber-pro"
                        >Código Pruebas SABER PRO:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="codigo-saber-pro"
                        formControlName="codigoSaberPro"
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="residencia"
                        >Residencia Actual:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="residencia"
                        formControlName="residenciaActual"
                    />
                </div>

                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="departamento"
                        >Departamento:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="departamento"
                        formControlName="departamento"
                    />
                </div>
                <div class="flex align-items-center justify-content-start mt-2">
                    <label style="text-wrap: nowrap" for="municipio"
                        >Municipio:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="text"
                        id="municipio"
                        formControlName="municipio"
                    />
                    <label style="text-wrap: nowrap" class="ml-4" for="email"
                        >Email:</label
                    >
                    <input
                        pInputText
                        class="w-full ml-2"
                        type="email"
                        id="email"
                        formControlName="email"
                    />
                </div>
            </div>
            <div class="field grid mt-4 mr-8">
                <span class="col-9 text-right align-self-start">
                    <b>Firma Estudiante</b>
                </span>
                <div class="col-3 text-center p-0">
                    <p-fileUpload
                        name="firmaEstudiante"
                        chooseIcon="pi pi-file"
                        accept=".png"
                        chooseLabel="Seleccionar"
                        class="w-full max-w-30rem"
                        previewWidth="100"
                        [auto]="true"
                        (onSelect)="onFirmaChange($event, 'firmaEstudiante')"
                    >
                        <ng-template
                            let-file
                            pTemplate="file"
                            data-file="firma"
                        >
                            <div *ngIf="firmaEstudiante">
                                <img
                                    [src]="firmaEstudiante"
                                    alt="Vista Previa de la Firma"
                                    style="
                                        min-height: 120px;
                                        min-width: 150px;
                                        width: 100%;
                                        height: 100%;
                                    "
                                />
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
            <div class="container px-8">
                <div class="flex align-items-center">
                    <div>
                        <label for="fecha-dia">Fecha:</label>
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md ml-2"
                            type="text"
                            id="fecha-dia"
                            placeholder="Día"
                            formControlName="dia"
                        />
                    </div>
                    <div class="ml-2">
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md"
                            type="text"
                            placeholder="Mes"
                            formControlName="mes"
                        />
                    </div>
                    <div class="ml-2">
                        <input
                            pInputText
                            [maxLength]="250"
                            class="p-inputtext-md"
                            type="text"
                            placeholder="Año"
                            formControlName="anio"
                        />
                    </div>
                </div>
            </div>
            <div class="mt-2 px-8">
                <h2 class="mt-2 text-center text-lg">
                    Diligenciamiento exclusivo por la Facultad
                </h2>
                <div style="max-width: 80%" class="mt-4">
                    <div class="input-group-inline">
                        <label
                            class="label-required line-height-3"
                            for="program"
                            >El Coordinador del programa de:</label
                        >
                        <input
                            pInputText
                            class="ml-2"
                            type="text"
                            id="program"
                            [value]="formatoHvaForm.get('programa')?.value"
                            readonly
                        />
                    </div>
                    <div>
                        <span class="line-height-3"
                            >Estudio la petición hecha por el alumno (a):
                            {{ this.estudianteSeleccionado?.nombre }}
                            {{ this.estudianteSeleccionado?.apellido }}</span
                        >
                        <div class="flex align-items-center">
                            <span class="line-height-3">
                                y certifica que ha aprobado todas las
                                asignaturas y requisitos académicos y los que
                                establece la Universidad para optar al título
                                de:
                                <input
                                    pInputText
                                    class="ml-2"
                                    type="text"
                                    id="title"
                                    formControlName="titulo"
                                />
                            </span>
                        </div>
                    </div>
                    <div>
                        <span class="line-height-3"
                            >En consecuencia recomienda continuar con los
                            trámites de expedición de Paz y Salvo General para
                            su graduación.</span
                        >
                    </div>
                    <div>
                        <label
                            for="coordinator"
                            class="label-required line-height-3"
                            >Nombre Coordinador Programa:</label
                        >
                        <input
                            pInputText
                            class="ml-2"
                            type="text"
                            id="coordinator"
                            formControlName="nombreCoordinador"
                        />
                    </div>
                </div>
            </div>
            <div class="field grid mt-4 mr-8">
                <span class="col-9 text-right align-self-start">
                    <b>Firma</b>
                </span>
                <div class="col-3 text-center p-0">
                    <p-fileUpload
                        name="firmaCoordinador"
                        chooseIcon="pi pi-file"
                        accept=".png"
                        chooseLabel="Seleccionar"
                        class="w-full max-w-30rem"
                        previewWidth="100"
                        [auto]="true"
                        (onSelect)="onFirmaChange($event, 'firmaCoordinador')"
                    >
                        <ng-template
                            let-file
                            pTemplate="file"
                            data-file="firma"
                        >
                            <div *ngIf="firmaCoordinador">
                                <img
                                    [src]="firmaCoordinador"
                                    alt="Vista Previa de la Firma"
                                    style="
                                        min-height: 120px;
                                        min-width: 150px;
                                        width: 100%;
                                        height: 100%;
                                    "
                                />
                            </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
        </form>
        <div
            class="flex flex-row align-items-center justify-content-center footer-logo footer-content"
        >
            <img
                src="assets/layout/images/logosIcontec.png"
                alt="Logo Icontec"
                width="200px"
                height="140px"
            />
            <div
                class="flex flex-column align-items-center justify-content-center footer-text"
            >
                <span>Por una Universidad de excelencia y solidaria</span>
                <hr />
                <strong>
                    Facultad de Ingeniería Electrónica y Telecomunicaciones Cra
                    2 No. 4N-140 Edif. de Ingenierías - Sector Tulcán Popayán -
                    Cauca - Colombia Conmutador 8209800 Ext. 2145
                    maestriacomputacion@unicauca.edu.co - www.unicauca.edu.co
                    www.unicauca.edu.co/maestriacomputación
                </strong>
            </div>
        </div>
        <div
            class="flex align-items-center justify-content-end mt-4 column-gap-2"
        >
            <button
                pButton
                type="button"
                icon="pi pi-paperclip"
                label="Adjuntar"
                (click)="onAdjuntar()"
                [loading]="loading"
            ></button>
            <button
                pButton
                type="button"
                icon="pi pi-download"
                label="Descargar"
                (click)="onDownload()"
                [loading]="loading"
            ></button>
        </div>
    </div>
</p-panel>
