.respuesta ::ng-deep.p-fileupload .p-message {
    display: none;
}

.respuesta ::ng-deep.p-fileupload-buttonbar p-button {
    display: none;
}

.respuesta ::ng-deep.p-fileupload-content .p-fileupload-files.ng-star-inserted {
    display: none;
}

.responsive-dialog {
    width: 50vw;
}

@media (max-width: 768px) {
    .responsive-dialog {
        width: 95vw;
    }
}

.spinner {
    transform: translate(-50%, 50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.text-description {
    color: gray;
}
