<div class="grid">
    <div class="col-12 lg:col-3 mt-3">
        <span class="p-float-label">
            <input
                class="w-full"
                id="nomasigna"
                type="text"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="asignatura"
            />
            <label for="nomasigna"
                >Nombre de la Asignatura {{ indice + 1 }}</label
            >
        </span>
    </div>
    <div class="col-6 sm:col-4 lg:col-2 mt-3">
        <span class="p-float-label">
            <input
                class="w-full"
                id="numcredi"
                type="text"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="creditos"
            />
            <label for="numcredi">No. de creditos</label>
        </span>
    </div>
    <div class="col-6 sm:col-4 lg:col-2 mt-3">
        <span class="p-float-label">
            <input
                class="w-full"
                id="intensidad"
                type="text"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="intensidad"
            />
            <label for="intensidad">Intensidad horaria</label>
        </span>
    </div>
    <div class="col-12 sm:col-4 lg:col-2 mt-3">
        <span class="p-float-label">
            <input
                class="w-full"
                id="califi"
                type="text"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="calificacion"
            />
            <label for="califi">Calificación</label>
        </span>
    </div>
    <div class="col-12 lg:col-3 mt-3">
        <p-fileUpload
            #fubauto
            mode="basic"
            name="file[]"
            [auto]="true"
            [customUpload]="true"
            (uploadHandler)="onUpload($event, fubauto)"
            accept=".pdf, .png"
            chooseIcon="pi pi-upload"
            maxFileSize="1000000"
            [auto]="true"
            chooseLabel="Contenido programático"
            [style]="{ width: '100%' }"
        >
        </p-fileUpload>
    </div>
    <div class="col-12 pt-0 mb-2">
        <ng-container
            *ngIf="radicar.datosAsignaturasAHomologar[indice]?.contenidos"
        >
            <span class="text-xs">
                <i class="pi pi-paperclip mr-1 text-xs"></i
                >{{
                    radicar.datosAsignaturasAHomologar[indice].contenidos.name
                }}
            </span>
        </ng-container>
    </div>
</div>

<!--
<div class="grid mt-3">
    <div class="col-12 lg:col-3">
        <span class="p-float-label">
            <input
                id="nomasigna"
                type="text"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="asignatura"
            />
            <label for="nomasigna"
                >Nombre de la Asignatura {{ indice + 1 }}</label
            >
        </span>
    </div>

    <div class="col-12 lg:col-2">
        <span class="p-float-label">
            <input
                id="numcredi"
                type="text"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="asignatura"
            />
            <label for="numcredi">Creditos</label>
        </span>
    </div>
    <div class="col-12 lg:col-2">
        <span class="p-float-label">
            <input
                id="numcredi"
                type="intensidad"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="asignatura"
            />
            <label for="intensidad">Intensidad horaria</label>
        </span>
    </div>
    <div class="col-12 lg:col-2">
        <span class="p-float-label">
            <input
                id="califi"
                type="text"
                pInputText
                (change)="actualizarDatos()"
                [(ngModel)]="asignatura"
            />
            <label for="califi">Calificación</label>
        </span>
    </div>
    <div class="col-12 lg:col-3">
        <p-fileUpload
            #fubauto
            mode="basic"
            name="file[]"
            [auto]="true"
            [customUpload]="true"
            (uploadHandler)="onUpload($event, fubauto)"
            multiple="multiple"
            accept=".pdf, .png"
            chooseIcon="pi pi-upload"
            maxFileSize="1000000"
            [auto]="true"
            chooseLabel="Contenidos programático"
            [style]="{ width: '100%' }"
        >
        </p-fileUpload>
    </div>

    <div class="ml-2" *ngIf="radicar.datosAsignaturasAHomologar[indice]">
        <span
            class="text-xs"
            *ngFor="
                let archivo of radicar.datosAsignaturasAHomologar[indice]
                    .contenidos;
                let last = last
            "
        >
            <i class="pi pi-paperclip mr-1 text-xs"></i>{{ archivo.name
            }}{{ !last ? ", " : "" }}
        </span>
    </div>
</div>
-->
