<div id="formatoB">
    <div class="flex flex-column w-full mb-4">
        <div
            class="flex flex-row align-items-center justify-content-evenly header-logo"
        >
            <div>
                <h2>Maestría en Computación</h2>
                <h2>Facultad de Ingeniería Electrónica y Telecomunicaciones</h2>
            </div>
            <img
                src="assets/layout/images/logoUnicauca.png"
                alt="Logo Unicauca"
                width="120px"
                height="180px"
            />
        </div>
        <div
            class="flex flex-column w-full justify-content-center align-items-center row-gap-4"
        >
            <span style="font-size: 20px; font-weight: bold">Formato B</span>
            <span style="font-size: 20px; font-weight: bold">
                ACTA DE EXAMEN DE VALORACION
            </span>
            <span> Popayán {{ getFormattedDate() }} </span>
        </div>
    </div>
    <form class="mt-4" [formGroup]="formatoBForm">
        <div class="flex flex-column gap-4">
            <div class="field grid">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label
                        class="uppercase font-bold"
                        style="line-height: 1.5rem"
                        >Programa</label
                    >
                </div>
                <div class="col-9 col-input">
                    <input
                        pInputText
                        [maxLength]="250"
                        class="p-inputtext-md w-full"
                        formControlName="programa"
                        readonly
                    />
                </div>
            </div>
            <div class="field grid">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold">Titulo</label>
                </div>
                <div class="col-9 col-input">
                    <input
                        pInputText
                        [maxLength]="250"
                        class="p-inputtext-md w-full"
                        formControlName="titulo"
                        readonly
                    />
                </div>
            </div>
            <div class="field grid">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold">Estudiante</label>
                </div>
                <div class="col-9 col-input">
                    <input
                        pInputText
                        [maxLength]="250"
                        class="p-inputtext-md w-full"
                        formControlName="estudiante"
                        readonly
                    />
                </div>
            </div>
        </div>
        <div class="flex flex-column gap-2">
            <div class="field grid gap-2">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="pdf-label uppercase font-bold">Jurado</label>
                </div>
                <div class="col-9 col-input field-content" *ngIf="evaluador">
                    <div class="flex align-items-center">
                        <p-card class="w-full max-w-30rem">
                            <div class="flex justify-content-between">
                                <span class="card-title">Datos del Jurado</span>
                            </div>
                            <div
                                class="mt-2 card-data flex justify-content-between"
                            >
                                <span>Nombres y Apellidos</span>
                                <span>{{ evaluador.nombres }}</span>
                            </div>
                            <div
                                class="mt-2 card-data flex justify-content-between"
                            >
                                <span>Universidad</span>
                                <span>{{ evaluador.universidad }}</span>
                            </div>
                            <div
                                class="mt-2 card-data flex justify-content-between"
                            >
                                <span>Correo</span>
                                <span>{{ evaluador.correo }}</span>
                            </div>
                        </p-card>
                    </div>
                </div>
            </div>
            <div class="field grid">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold">Fecha</label>
                </div>
                <div class="col-9">
                    <p-calendar
                        formControlName="fecha"
                        [showIcon]="true"
                        dateFormat="dd.mm.yy"
                    ></p-calendar>
                </div>
            </div>
            <div class="field grid">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="uppercase font-bold"
                        >Concepto de jurado
                    </label>
                </div>
                <div class="col-9">
                    <div *ngFor="let estado of estados" class="field-checkbox">
                        <p-radioButton
                            [inputId]="estado"
                            [value]="estado"
                            formControlName="conceptoJurado"
                        ></p-radioButton>
                        <label [for]="estado" class="ml-2">{{ estado }}</label>
                    </div>
                </div>
            </div>
            <div class="field grid">
                <div class="col-2 col-label text-right mr-2 align-self-start">
                    <label class="font-bold">Firma:</label>
                </div>
            </div>
            <div class="field grid">
                <div class="col-2 col-label text-right flex flex-column">
                    <span>{{ evaluador.nombres }}</span>
                </div>
            </div>
        </div>
        <div
            class="flex flex-row align-items-center justify-content-center footer-logo footer-content"
        >
            <img
                src="assets/layout/images/logosIcontec.png"
                alt="Logo Icontec"
                width="200px"
                height="140px"
            />
            <div
                class="flex flex-column align-items-center justify-content-center footer-text"
            >
                <span>Por una Universidad de excelencia y solidaria</span>
                <hr />
                <strong>
                    Facultad de Ingeniería Electrónica y Telecomunicaciones Cra
                    2 No. 4N-140 Edif. de Ingenierías - Sector Tulcán Popayán -
                    Cauca - Colombia Conmutador 8209800 Ext. 2145
                    maestriacomputacion@unicauca.edu.co - www.unicauca.edu.co
                    www.unicauca.edu.co/maestriacomputación
                </strong>
            </div>
        </div>
    </form>
    <div class="flex align-items-center justify-content-end mt-4 column-gap-2">
        <button
            pButton
            type="button"
            icon="pi pi-upload"
            label="Subir"
            (click)="onInsertar()"
            [loading]="loading"
            [pTooltip]="
                !!formatoBEv1 || !!formatoBEv2
                    ? 'Ya se ha adjuntado el documento.'
                    : 'Haz clic para subir el documento que se enviará junto con los datos del formulario.'
            "
            tooltipPosition="top"
            [disabled]="!!formatoBEv1 || !!formatoBEv2"
        ></button>
        <button
            pButton
            type="button"
            icon="pi pi-download"
            label="Descargar"
            (click)="onDownload()"
            [loading]="loading"
        ></button>
    </div>
</div>
