<form [formGroup]="this.radicar.formApoyoAsistEvento">
    <p-fieldset legend="Información para apoyo económico" styleClass="bg-bluegray-50">
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <span class="p-float-label mt-3">
                    <input formControlName="nombreCongreso" class="w-full" id="nomCongreso" type="text" pInputText />
                    <label for="nomCongreso">Nombre del evanto</label>
                </span>
            </div>

            <div class="col-12 md:col-3">
                <span class="p-float-label mt-3">
                    <input formControlName="lugarEvento" class="w-full" id="lugarEvento" type="text" pInputText />
                    <label for="lugarEvento">Lugar del evento</label>
                </span>
            </div>

            <div class="col-12 lg:col-2">
                <span class="p-float-label mt-3">
                    <p-dropdown
                        formControlName="tipoCongreso"
                        inputId="tipoCongreso"
                        [autoDisplayFirst]="false"
                        [options]="tiposCongreso"
                        [style]="{ width: '100%' }"
                    ></p-dropdown>
                    <label for="tipoCongreso">Tipo de evento</label>
                </span>
            </div>

            <div class="col-12 md:col-3">
                <span class="p-float-label mt-3">
                    <p-calendar
                        formControlName="fechas"
                        selectionMode="range"
                        [readonlyInput]="true"
                        inputId="fcongreso"
                        dateFormat="dd/mm/yy"
                        [style]="{ width: '100%' }"
                    ></p-calendar>
                    <label for="fcongreso">Fechas del evento (inicio - fin)</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label mt-3">
                    <input
                        formControlName="tituloPublicacion"
                        class="w-full"
                        id="tituloPublicacion"
                        type="text"
                        pInputText
                    />
                    <label for="tituloPublicacion">Título de la publicación</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label mt-3">
                    <p-dropdown
                        formControlName="grupoInvestigacion"
                        inputId="nomgrupivst"
                        [autoDisplayFirst]="false"
                        [options]="listaGruposInvestigacion"
                        [style]="{ width: '100%' }"
                    ></p-dropdown>
                    <label for="nomgrupivst">Grupo de Investigación</label>
                </span>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
                <span class="p-float-label mt-3">
                    <p-inputNumber
                        formControlName="valorApoyo"
                        inputId="valorapoyo"
                        [minFractionDigits]="2"
                        prefix="COP $"
                        [min]="1"
                        [style]="{ width: '100%' }"
                    >
                    </p-inputNumber>

                    <label for="valorapoyo">Valor del Apoyo</label>
                </span>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
                <span class="p-float-label mt-3">
                    <input formControlName="entidadBancaria" class="w-full" id="banco" type="text" pInputText />
                    <label for="banco">Entidad Bancaria</label>
                </span>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
                <span class="p-float-label mt-3">
                    <p-dropdown
                        formControlName="tipoCuenta"
                        inputId="tipocuenta"
                        [autoDisplayFirst]="false"
                        [options]="tiposCuentaBancaria"
                        [style]="{ width: '100%' }"
                    ></p-dropdown>
                    <label for="tipocuenta">Tipo de Cuenta</label>
                </span>
            </div>

            <div class="col-12 md:col-6 lg:col-3">
                <span class="p-float-label mt-3">
                    <input formControlName="numeroCuenta" class="w-full" id="cuentabanco" type="text" pInputText />
                    <label for="cuentabanco">Número de Cuenta</label>
                </span>
            </div>

            <div class="col-12">
                <span class="p-float-label mt-3">
                    <input formControlName="direccionResidencia" class="w-full" id="direccion" type="text" pInputText />
                    <label for="direccion">Dirección y Ciudad de residencia</label>
                </span>
            </div>
        </div>
    </p-fieldset>
</form>
