.sustentacion ::ng-deep.p-card-content {
    padding: 0 0 !important;
}

.sustentacion ::ng-deep.p-fileupload .p-message {
    display: none;
}

.sustentacion
    ::ng-deep.p-fileupload-buttonbar
    p-button[ng-reflect-label="Upload"] {
    display: none;
}

.sustentacion
    ::ng-deep.p-fileupload-buttonbar
    p-button[ng-reflect-label="Cancel"] {
    display: none;
}

.sustentacion
    ::ng-deep.p-fileupload-content
    .p-fileupload-files.ng-star-inserted {
    display: none;
}

.pdf-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pdf-viewer {
    width: 100%;
    height: 100%;
}

.spinner {
    transform: translate(-50%, 50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.text-description {
    color: gray;
}
