<p-toast></p-toast>
<p-confirmDialog
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<p-tabView>
    <p-tabPanel header="Información" leftIcon="pi pi-id-card" tooltip="Información del solicitante">
        <ng-container *ngIf="cargandoDatos; else datosCargados">
            <app-skelinfosolicitud></app-skelinfosolicitud>
        </ng-container>

        <ng-template #datosCargados>
            <div class="flex block">
                <div style="padding-top: 5px">
                    <p-tag severity="info" value="{{ gestor.estadoSolicitud }}"></p-tag>
                </div>

                <div class="col-11 text-lg font-bold">
                    Solicitud COD: {{ datosSolicitud.datosComunSolicitud.radicado }} -
                    {{ datosSolicitud.datosComunSolicitud.tipoSolicitud }}
                </div>
            </div>

            <div class="grid mt-1">
                <div class="mt-1 col-4">
                    <p class="text-base m-0">
                        Solicitante:
                        {{ datosSolicitud.datosComunSolicitud.nombreSolicitante }}
                        {{ datosSolicitud.datosComunSolicitud.apellidoSolicitante }}
                    </p>
                    <p class="text-base m-0">
                        Identificación:
                        {{ datosSolicitud.datosComunSolicitud.numeroIdentSolicitante }}
                    </p>
                    <p class="text-base m-0">
                        Código:
                        {{ datosSolicitud.datosComunSolicitud.codigoSolicitante }}
                    </p>
                </div>
                <div class="col-4 mt-1">
                    <p class="text-base m-0">
                        Correo:
                        {{ datosSolicitud.datosComunSolicitud.emailSolicitante }}
                    </p>
                    <p class="text-base m-0">
                        Celular:
                        {{ datosSolicitud.datosComunSolicitud.celularSolicitante }}
                    </p>
                </div>
                <div class="col-4 mt-1">
                    <p class="text-base m-0">
                        Fecha Recepción:
                        {{ datosSolicitud.datosComunSolicitud.fechaEnvioSolicitud }}
                    </p>
                </div>
            </div>

            <div class="col-12 mt-2">
                <embed id="visorPDFSolicitud" [src]="urlOficioPdf" type="application/pdf" width="100%" height="600px" />
            </div>

            <div *ngIf="mostrarPFSet" class="w-full md:w-9 mt-4" style="margin-left: auto; margin-right: auto">
                <p-fieldset legend="Firma">
                    <div class="col-12">
                        <p-fileUpload
                            #fsigTutorDirector
                            mode="basic"
                            name="file[]"
                            [auto]="true"
                            [customUpload]="true"
                            (uploadHandler)="onUpload($event, fsigTutorDirector)"
                            accept="image/*"
                            chooseIcon="pi pi-upload"
                            maxFileSize="1000000"
                            chooseLabel="Cargue una imagen de su firma"
                            [style]="{ width: '100%' }"
                        >
                        </p-fileUpload>

                        <div class="col-12 md:col-6 md:col-offset-3 mt-3" *ngIf="mostrarBtnFirmar">
                            <img #firmaImage class="max-w-full" />
                        </div>

                        <button
                            #firmar
                            *ngIf="mostrarBtnFirmar"
                            pButton
                            pRipple
                            type="button"
                            (click)="firmarSolicitud()"
                            label="Firmar documento"
                            class="p-button-secondary"
                            [style]="{ width: '100%' }"
                        ></button>
                    </div>
                </p-fieldset>
            </div>

            <div class="grid mt-4">
                <div class="mt-4 col-6" style="text-align: center">
                    <button
                        *ngIf="mostrarBtnAvalar"
                        pButton
                        pRipple
                        type="button"
                        (click)="enviarOficioAvalado()"
                        label="Avalar la solicitud"
                        style="width: 100%; margin-left: auto; margin-right: auto"
                    ></button>
                </div>
                <div class="mt-4 col-6" style="text-align: center">
                    <button
                        *ngIf="mostrarBtnRechazar"
                        class="p-button p-button-danger"
                        pButton
                        pRipple
                        type="button"
                        (click)="rechazarSolicitud()"
                        label="Rechazar la solicitud"
                        style="width: 100%; margin-left: auto; margin-right: auto"
                    ></button>
                </div>
            </div>
        </ng-template>
        <div class="mt-4" *ngIf="avalEnProceso || rechazoEnProceso">
            <p-progressBar mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
        </div>
    </p-tabPanel>

    <p-tabPanel
        *ngIf="docsAdjuntos?.length > 0 || enlacesAdjuntos?.length > 0"
        header="Adjuntos"
        leftIcon="pi pi-paperclip"
        tooltip="Documentos anexos de la solicitud"
    >
        <ng-container *ngIf="cargandoDatos; else adjuntosCargados">
            <app-skelinfosolicitud></app-skelinfosolicitud>
        </ng-container>

        <ng-template #adjuntosCargados>
            <div class="flex block mb-3">
                <div style="padding-top: 5px">
                    <p-tag severity="info" value="{{ gestor.estadoSolicitud }}"></p-tag>
                </div>
                <div class="col-11 text-lg font-bold">
                    Solicitud COD: {{ datosSolicitud.datosComunSolicitud.radicado }} -
                    {{ datosSolicitud.datosComunSolicitud.tipoSolicitud }}
                </div>
            </div>
            <p-scrollPanel [style]="{ width: '100%', height: '100px' }">
                <div class="col-12">
                    <ng-container *ngFor="let documento of docsAdjuntos">
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-file-pdf"
                            label="{{ documento.name }}"
                            (click)="abrirArchivo(documento.name)"
                            class="p-button-rounded p-button-secondary mr-2 mb-2 text-sm"
                        ></button>
                    </ng-container>

                    <ng-container *ngIf="enlacesAdjuntos">
                        <ng-container *ngFor="let enlace of enlacesAdjuntos">
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-external-link"
                                label="Enlace a material externo"
                                (click)="abrirEnlace(enlace)"
                                class="p-button-rounded p-button-secondary mr-2 mb-2 text-sm"
                            ></button>
                        </ng-container>
                    </ng-container>
                </div>
            </p-scrollPanel>

            <ng-container *ngIf="urlPdf">
                <div class="col-12 mt-2">
                    <embed id="embedElement" [src]="urlPdf" type="application/pdf" width="100%" height="600px" />
                </div>
            </ng-container>
        </ng-template>
    </p-tabPanel>
</p-tabView>
