/* Estilos para el contenedor del oficio */
.contenedor-oficio {
    position: relative;
}

/* Estilos para la vista de carga */
.vista-carga {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para el fondo blanco */
.fondo-blanco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Cambia el color de fondo a blanco */
    opacity: 1; /* No hay transparencia */
}

/* Estilos para el spinner */
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.component-wrapper {
    position: relative;
}

.floating-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10001;
}
