<p-panel>
    <p-header>
        <b>GESTIONAR CATEGORÍAS</b>
    </p-header>
    <div class="grid">
        <div class="col-5">
            <div class="flex align-items-end h-full">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        class="w-full"
                        placeholder="Buscar Categoría"
                    />
                </span>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-6">
            <div class="w-full text-right">
                <button
                    pButton
                    icon="pi pi-plus"
                    label="Agregar Categoría"
                    (click)="showDialog()"
                ></button>
            </div>
        </div>
    </div>
    <br />
    <p-table
        #tableCategorias
        [value]="categorias"
        [paginator]="true"
        [loading]="loading"
        [rows]="3"
        breakpoint="768px"
        styleClass="p-datatable-gridlines p-datatable-striped"
        [globalFilterFields]="[]"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} categorías"
    >
        <ng-template pTemplate="header">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Observación</th>
                <th scope="col" class="text-center w-2">Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-categoria>
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.observacion }}</td>
                <td class="text-center">
                    <button
                        pButton
                        pTooltip="Editar"
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded p-button-text p-button-warning"
                        (click)="onEditar(categoria.id)"
                    ></button>
                    <button
                        pButton
                        pTooltip="Eliminar"
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-text p-button-danger"
                        (click)="onDelete($event, categoria.id)"
                    ></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="4">No se encontraron registros</td>
            </tr>
        </ng-template>
    </p-table>
    <p-footer> your footer template </p-footer>
</p-panel>

<p-dialog
    header="{{ isNew ? 'Agregar Categoría' : 'Editar Categoría' }}"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="false"
    [responsive]="true"
    [style]="{ width: '50vw' }"
    [breakpoint]="768"
>
    <div class="p-fluid">
        <div class="p-field">
            <label for="nombre">Nombre</label>
            <input
                id="nombre"
                type="text"
                pInputText
                [(ngModel)]="categoria.nombre"
            />
        </div>
        <div class="p-field">
            <label for="observacion">Observación</label>
            <textarea
                id="observacion"
                pInputTextarea
                [(ngModel)]="categoria.observacion"
                [rows]="5"
            ></textarea>
        </div>
    </div>
    <p-footer>
        <button
            pButton
            label="Cancelar"
            icon="pi pi-times"
            (click)="onCancel()"
        ></button>
        <button
            pButton
            label="Guardar"
            icon="pi pi-check"
            (click)="onSave()"
        ></button>
    </p-footer>
</p-dialog>
