<div class="card">
    <div class="mb-4">
        <p class="text-xl font-bold mb-0">
            <i class="pi pi-inbox mr-2"></i>Tipo de solicitud
        </p>
        <p>Escoja el tipo de solicitud que va a presentar</p>
    </div>

    <div class="grid">
        <div class="col-12 lg:col-3">
            <p-listbox
                [options]="tiposDeSolicitud"
                optionLabel="nombreSolicitud"
                (onChange)="
                    obtenerRequisitosDeSolicitud();
                    radicar.restrablecerValores()
                "
                [(ngModel)]="tipoSolicitudEscogida"
                [listStyle]="{ 'max-height': '385px' }"
                styleClass="bg-bluegray-50 "
            >
                <ng-template let-solicitud pTemplate="item">
                    <div><i class="pi pi pi-info-circle mr-2"></i></div>
                    <div class="font-semibold">
                        {{ solicitud.nombreSolicitud }}
                    </div>
                </ng-template>
            </p-listbox>
        </div>
        <div class="col-12 lg:col-9">
            <p-panel
                header="Información y requisitos"
                *ngIf="requisitosSolicitudEscogida"
            >
                <p-scrollPanel [style]="{ width: '100%', height: '300px' }">
                    <div
                        *ngIf="requisitosSolicitudEscogida.documentosRequeridos"
                    >
                        <p class="font-semibold text-justify">
                            {{ requisitosSolicitudEscogida.tituloDocumento }}
                        </p>
                        <p
                            class="pl-3"
                            *ngFor="
                                let documento of requisitosSolicitudEscogida.documentosRequeridos;
                                let i = index
                            "
                        >
                            {{ i + 1 }}. {{ documento }}
                        </p>
                    </div>
                    <br />

                    <div *ngIf="requisitosSolicitudEscogida.descripcion">
                        <p class="text-justify">
                            {{ requisitosSolicitudEscogida.descripcion }}
                        </p>
                    </div>

                    <div *ngIf="requisitosSolicitudEscogida.articulo">
                        <br />
                        <p class="text-justify">
                            {{ requisitosSolicitudEscogida.articulo }}
                        </p>
                    </div>

                    <div *ngIf="requisitosSolicitudEscogida.tenerEnCuenta">
                        <br />
                        <p class="font-semibold">Tener en cuenta:</p>
                        <p class="text-justify">
                            {{ requisitosSolicitudEscogida.tenerEnCuenta }}
                        </p>
                    </div>

                    <div *ngIf="requisitosSolicitudEscogida.notas.length > 0">
                        <br />
                        <p class="font-semibold">Nota:</p>
                        <p class="text-justify">
                            {{ requisitosSolicitudEscogida.notas }}
                        </p>
                    </div>
                </p-scrollPanel>
            </p-panel>
        </div>
    </div>
    <div class="flex justify-content-end mt-4">
        <p-button
            label="Siguiente"
            icon="pi pi-angle-right"
            iconPos="right"
            (click)="navigateToNext()"
        ></p-button>
    </div>
</div>

<div class="block sm:flex">
    <div class="mb-5 sm:mr-5"></div>

    <div class="w-full"></div>
</div>
