<p-panel>
    <div id="formatoResolucionComite">
        <div class="flex flex-column header-logo mb-4 w-full">
            <img
                alt="Asset Header"
                class="header-image"
                src="assets/layout/images/asset-header.jpg"
            />
            <div class="flex justify-content-start logo-container">
                <img
                    alt="Logo Facultad"
                    class="logo-image"
                    src="assets/layout/images/logoFacultad.png"
                />
            </div>
        </div>
        <div class="lg:px-8 md:px-4 mt-4 px-1">
            <form [formGroup]="formatoResolucionComiteForm">
                <div class="field grid justify-content-start">
                    <label
                        class="col-3 col-label font-semibold"
                        for="consecutivo"
                        >Consecutivo</label
                    >
                    <div class="col-9 col-input">
                        <input
                            class="p-inputtext-md"
                            formControlName="consecutivo"
                            id="consecutivo"
                            pInputText
                            type="text"
                        />
                    </div>
                </div>

                <div class="field grid justify-content-start">
                    <label class="col-3 col-label font-semibold" for="titulo"
                        >Titulo</label
                    >
                    <div class="col-9 col-input">
                        <input
                            class="p-inputtext-md w-full"
                            formControlName="titulo"
                            id="titulo"
                            pInputText
                            readonly
                            type="text"
                        />
                    </div>
                </div>

                <div class="field grid justify-content-start">
                    <label class="col-3 col-label font-semibold" for="facultad"
                        >Facultad</label
                    >
                    <div class="col-9 col-input">
                        <input
                            class="p-inputtext-md w-full"
                            formControlName="facultad"
                            id="facultad"
                            pInputText
                            readonly
                            type="text"
                        />
                    </div>
                </div>

                <div class="field grid justify-content-start">
                    <label class="col-3 col-label font-semibold" for="programa"
                        >Programa</label
                    >
                    <div class="col-9 col-input">
                        <input
                            class="p-inputtext-md w-full"
                            formControlName="programa"
                            id="programa"
                            pInputText
                            readonly
                            type="text"
                        />
                    </div>
                </div>

                <div class="field grid justify-content-start">
                    <label
                        class="col-3 label-required font-semibold"
                        for="coordinador"
                        >Coordinador(a)</label
                    >
                    <div class="col-9 col-input">
                        <input
                            class="p-inputtext-md w-full"
                            formControlName="coordinador"
                            id="coordinador"
                            pInputText
                            type="text"
                        />
                    </div>
                </div>

                <div
                    class="field grid justify-content-start align-items-center"
                >
                    <div class="grid p-fluid w-full">
                        <div class="col-12 lg:col-6 pl-3 pr-0 lg:pr-3">
                            <div class="p-field">
                                <label
                                    class="label-required font-semibold"
                                    for="director"
                                    >Director(a):</label
                                >
                                <input
                                    class="mt-2 w-full"
                                    formControlName="director"
                                    id="director"
                                    pInputText
                                    readonly
                                    type="text"
                                />
                            </div>
                        </div>
                        <div
                            class="col-12 lg:col-6 pl-3 pt-4 pr-0 lg:pl-0 lg:pt-0"
                        >
                            <div class="p-field">
                                <label
                                    class="label-required font-semibold"
                                    for="estudiante"
                                    >Estudiante:</label
                                >
                                <input
                                    class="mt-2 w-full"
                                    formControlName="estudiante"
                                    id="estudiante"
                                    pInputText
                                    readonly
                                    type="text"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field grid justify-content-start">
                    <div class="col-3 col-label">
                        <label
                            class="font-semibold label-required mr-2"
                            for="fechaSesion"
                            >Fecha de Reunión Ordinaria:</label
                        >
                        <i
                            class="pi pi-info-circle"
                            pTooltip="Fecha en la que se celebró la sesión ordinaria del comité, que es importante para el seguimiento del proceso."
                            style="color: orangered; font-size: 16px"
                            tooltipPosition="top"
                        ></i>
                    </div>
                    <div class="col-9 col-input">
                        <p-calendar
                            class="max-w-20rem"
                            dateFormat="dd.mm.yy"
                            formControlName="fechaSesion"
                            id="fechaSesion"
                            [showIcon]="true"
                        ></p-calendar>
                    </div>
                </div>

                <div class="field grid mt-4">
                    <span
                        class="col-12 xl:col-9 xl:mb-0 mb-2 text-left xl:text-right"
                    >
                        <b>Firma Coordinador(a)</b>
                    </span>
                    <div class="col-12 xl:col-3 xl:text-right text-center">
                        <p-fileUpload
                            accept=".png, .jpg, .jpeg"
                            chooseIcon="pi pi-file"
                            chooseLabel="Seleccionar"
                            class="w-full max-w-30rem"
                            name="firmaCoordinador"
                            previewWidth="100"
                            [auto]="true"
                            (onSelect)="
                                onFirmaChange($event, 'firmaCoordinador')
                            "
                        >
                            <ng-template
                                data-file="firma"
                                let-file
                                pTemplate="file"
                            >
                                <div *ngIf="firmaCoordinador">
                                    <img
                                        [src]="firmaCoordinador"
                                        alt="Vista Previa de la Firma"
                                        style="
                                            height: 100%;
                                            min-height: 120px;
                                            min-width: 150px;
                                            width: 100%;
                                        "
                                    />
                                </div>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>

                <div class="footer-logo mt-8">
                    <img
                        alt="Asset Calidad"
                        height="100px"
                        src="assets/layout/images/asset-calidad.png"
                        width="140px"
                    />
                    <div
                        class="flex flex-column align-items-center justify-content-center"
                    >
                        <span>
                            Carrera 2 No. 15N esquina-Sector Tulcán
                            Popayán-Cauca-Colombia Teléfono: 6028209800 ext.
                            2100 ó 2101. decafiet&#64;unicauca.edu.co |
                            <strong>www.unicauca.edu.co</strong>
                        </span>
                    </div>
                    <img
                        alt="Logo Icontec"
                        height="80px"
                        src="assets/layout/images/logosIcontec.png"
                        width="120px"
                    />
                </div>
                <div
                    class="flex align-items-center justify-content-end mt-4 column-gap-2"
                >
                    <button
                        pButton
                        type="button"
                        icon="pi pi-upload"
                        label="Insertar"
                        pTooltip="Haz clic para insertar el documento en el área de carga de archivos."
                        tooltipPosition="top"
                        (click)="onInsertar()"
                    ></button>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-download"
                        label="Descargar"
                        [loading]="loading"
                        (click)="onDownload()"
                    ></button>
                </div>
            </form>
        </div>
    </div>
</p-panel>
