<div class="flex flex-row flex-wrap">
    <div class="mr-1 w-1">
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="w-9">
        <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
    </div>
</div>

<div class="flex flex-row flex-wrap mt-3">
    <div class="mr-1 w-4">
        <p-skeleton height="1rem" width="90%" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="1rem" width="88%" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="1rem" width="80%" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="mr-1 w-4">
        <p-skeleton height="1rem" width="90%" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="1rem" width="88%" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="1rem" width="80%" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="mr-1 w-3">
        <p-skeleton height="1rem" styleClass="mb-2"></p-skeleton>
        <p-skeleton height="1rem" width="88%" styleClass="mb-2"></p-skeleton>
    </div>
</div>

<div class="mt-4">
    <p-skeleton height="70rem" styleClass="mb-2"></p-skeleton>
</div>
