<p-panel>
    <p-header>
        <b>ESTADOS DEL ESTUDIANTE</b>
    </p-header>
    <br />
    <!-- Datos del estudiante -->
    <div class="grid">
        <div class="col-4 text-right font-medium">
            <p><b>Datos del estudiante</b></p>
        </div>
        <div class="col-8"></div>
        <div class="col-4 text-right font-medium">
            <p>Código:</p>
        </div>
        <div class="col-8">
            <p>{{ estudiante.codigo}}</p>
        </div>
        <div class="col-4 text-right font-medium">
            <p>Nombres:</p>
        </div>
        <div class="col-8">
            <p>{{ estudiante.nombre }} </p>
        </div>
        <div class="col-4 text-right font-medium">
            <p>Apellidos:</p>
        </div>
        <div class="col-8">
            <p>{{ estudiante.apellido }}</p>
        </div>
        <div class="col-4 text-right font-medium">
            <p>Director:</p>
        </div>
        <div class="col-8">
            <p>{{ estudiante.director }}</p>
        </div>
        <div class="col-4 text-right font-medium">
            <p>Co director:</p>
        </div>
        <div class="col-8">
            <p [ngClass]="{'text-400': !estudiante.codirector }">
                {{ estudiante.codirector | emptyLabel }}
            </p>
        </div>
        <div class="col-4 text-right font-medium">
            <p>Estado:</p>
        </div>
        <div class="col-8 flex">
            <p>{{ getEstadoMaestria(estudiante.estadoMaestria) }}</p>
        </div>
        <div class="col-4 text-right font-medium">
            <p>Semestre académico:</p>
        </div>
        <div class="col-8">
            <p [ngClass]="{'text-400': !estudiante.semestreAcademico }">
                {{ estudiante.semestreAcademico | emptyLabel }}
            </p>
        </div>
        <div class="col-4 text-right font-medium">
            <p>Semestre financiero:</p>
        </div>
        <div class="col-8">
            <p [ngClass]="{'text-400': !estudiante.semestreFinanciero }">
                {{ estudiante.semestreFinanciero | emptyLabel }}
            </p>
        </div>
    </div>
    <br />

    <!-- Porrogas o Supenciones-->
    <div class="grid">
        <div class="col-4 text-right">
            <p><b>Prórrogas/suspensiones de término</b></p>
        </div>
        <div class="col-7">
            <!-- Tabla Prorrogas-->
            <p-table
                [loading]="loading"
                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                [breakpoint]="'800px'"
                [value]="estudiante.prorrogas"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">Fecha prórroga o suspención</th>
                        <th scope="col">No. resolución</th>
                        <th scope="col">Documento</th>
                    </tr>
                </ng-template>
                <!-- Contenido  -->
                <ng-template pTemplate="body" let-prorroga>
                    <tr>
                        <td>{{ prorroga.fecha | date:'dd/MM/yyyy' }}</td>
                        <td>{{ prorroga.resolucion }}</td>
                        <td>{{ prorroga.linkDocumento }}</td>
                    </tr>
                </ng-template>
                <!-- Mensaje sin registros -->
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="4">No se encontraron registros</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-1"></div>
    </div>
    <br />

    <!-- Reingresos -->
    <div class="grid">
        <div class="col-4 text-right">
            <p><b>Reingresos</b></p>
        </div>
        <div class="col-7">
            <!-- Tabla Reingresos-->
            <p-table
                [loading]="loading"
                styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped"
                [breakpoint]="'800px'"
                [value]="estudiante.reingresos"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col">Fecha de reingreso</th>
                        <th scope="col">No. resolución</th>
                        <th scope="col">Semestre financiero</th>
                        <th scope="col">Semestre académico</th>
                        <th scope="col">Documento</th>
                    </tr>
                </ng-template>
                <!-- Contenido  -->
                <ng-template pTemplate="body" let-reingreso>
                    <tr>
                        <td>{{ reingreso.fecha | date:'dd/MM/yyyy' }}</td>
                        <td>{{ reingreso.resolucion }}</td>
                        <td>{{ reingreso.semestreFinanciero }}</td>
                        <td>{{ reingreso.semestreAcademico }}</td>
                        <td>{{ reingreso.linkDocumento }}</td>
                    </tr>
                </ng-template>
                <!-- Mensaje sin registros -->
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="6">No se encontraron registros</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-1"></div>
    </div>
    <br />
    <p-footer>
        <button
            pButton
            icon="pi pi-pencil"
            label="Editar"
            class="p-button-outlined"
            (click)="onEdicion()"
        ></button>
        <button
            pButton
            icon="pi pi-arrow-left"
            label="Volver"
            (click)="onVolver()"
        ></button>
    </p-footer>
</p-panel>
