.header-logo {
    opacity: 0.6;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}

.logo-container {
    display: flex;
    justify-content: start;
}

.logo-image {
    max-width: 100%;
    height: 140px;
    object-fit: contain;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    width: 100%;
}

.footer-logo img {
    flex: 0.3;
    max-width: 35%;
    object-fit: contain;
}

.footer-logo div {
    flex: 0.4;
    text-align: center;
}

.footer-logo div span {
    color: #1f497d;
}

@media (max-width: 1024px) {
    .col-label {
        text-align: left !important;
        margin-bottom: 10px;
    }

    .col-label,
    .col-input {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 425px) {
    .footer-logo {
        display: none;
    }
}
