<div class="grid">
    <div class="col-12 mt-3">
        <button
            pButton
            pRipple
            label="Cargar Resolución"
            icon="pi pi-upload"
        ></button>
    </div>
    <div class="col-12 mt-2">
        <span class="p-buttonset">
            <button
                pButton
                pRipple
                label="Responder"
                icon="pi pi-check"
            ></button>
            <button
                pButton
                pRipple
                label="Rechazar"
                icon="pi pi-times"
            ></button>

            <button
                pButton
                pRipple
                label="Eliminar"
                icon="pi pi-trash"
            ></button>
        </span>
    </div>
</div>
