<div class="grid mt-3">
    <div class="col-5">
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
    </div>
    <div class="col-4">
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
    </div>
    <div class="col-3">
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
        <p-skeleton height="2rem" width="90%" styleClass="mb-3"></p-skeleton>
    </div>
</div>
