<p-panel>
    <div id="formatoEvaluadores">
        <div class="flex flex-column w-full mb-4 header-logo">
            <img
                src="assets/layout/images/asset-header.jpg"
                alt="Asset Header"
                class="header-image"
            />
            <div class="flex justify-content-start logo-container">
                <img
                    src="assets/layout/images/logoFacultad.png"
                    alt="Logo Facultad"
                    class="logo-image"
                />
            </div>
        </div>
        <div class="mt-4 form-container px-8">
            <form class="p-fluid" [formGroup]="formatoEvaluadoresForm">
                <div class="flex flex-column mt-4">
                    <label class="font-semibold mb-2" for="consecutivo"
                        >Consecutivo:</label
                    >
                    <input
                        pInputText
                        type="text"
                        id="consecutivo"
                        formControlName="consecutivo"
                    />
                </div>
                <div class="flex flex-column mt-4">
                    <label
                        class="label-required font-semibold mb-2"
                        for="propuesta"
                        >Propuesta:</label
                    >
                    <input
                        pInputText
                        type="text"
                        id="propuesta"
                        formControlName="propuesta"
                        readonly
                    />
                </div>
                <div class="flex flex-column mt-4">
                    <label
                        class="label-required font-semibold mb-2"
                        for="asunto"
                        >Asunto:</label
                    >
                    <textarea
                        pInputTextarea
                        id="asunto"
                        formControlName="asunto"
                        rows="5"
                    ></textarea>
                </div>
                <div
                    class="flex justify-content-between align-items-center mt-4"
                >
                    <div class="flex align-items-center mr-2">
                        <label
                            class="label-required font-semibold mr-2"
                            for="coordinador"
                            >Coordinador(a):</label
                        >
                        <input
                            pInputText
                            type="text"
                            id="coordinador"
                            formControlName="coordinador"
                        />
                    </div>
                    <div class="flex align-items-center mr-2">
                        <label
                            class="label-required font-semibold mr-2"
                            for="docente"
                            >Docente:</label
                        >
                        <input
                            class="flex-1 mr-2"
                            pInputText
                            type="text"
                            id="docente"
                            formControlName="docente"
                            readonly
                        />
                        <button
                            pButton
                            icon="pi pi-search"
                            (click)="onSeleccionarDocente()"
                        ></button>
                    </div>
                    <div class="flex align-items-center">
                        <label
                            class="label-required font-semibold mr-2"
                            for="estudiante"
                            >Estudiante:</label
                        >
                        <input
                            pInputText
                            type="text"
                            id="estudiante"
                            formControlName="estudiante"
                            readonly
                        />
                    </div>
                </div>
                <div class="mt-4">
                    <label class="font-semibold">Evaluador Externo:</label>
                    <div class="flex align-items-center">
                        <p-card class="w-full m-0">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <span>{{
                                    evaluadorInterno.value?.nombres ??
                                        evaluadorInterno.value?.nombre +
                                            " " +
                                            evaluadorInterno.value?.apellido
                                }}</span>
                            </div>
                        </p-card>
                    </div>
                </div>
                <div class="mt-4">
                    <label class="font-semibold">Evaluador Interno:</label>
                    <div class="flex align-items-center">
                        <p-card class="w-full m-0">
                            <div
                                class="flex justify-content-between align-items-center"
                            >
                                <span>{{
                                    evaluadorExterno.value?.nombres ??
                                        evaluadorExterno.value?.nombre +
                                            " " +
                                            evaluadorExterno.value?.apellido
                                }}</span>
                            </div>
                        </p-card>
                    </div>
                </div>
                <div class="flex flex-column mt-4 max-w-20rem">
                    <div class="flex align-items-center column-gap-2 mb-2">
                        <label
                            class="label-required font-semibold"
                            for="fechaSesion"
                            >Fecha de Sesión:
                        </label>
                        <i
                            class="pi pi-info-circle"
                            pTooltip="Fecha en la que se celebró la sesión ordinaria del comité, que es importante para el seguimiento del proceso."
                            tooltipPosition="top"
                        ></i>
                    </div>
                    <p-calendar
                        id="fechaSesion"
                        formControlName="fechaSesion"
                        [showIcon]="true"
                        dateFormat="dd.mm.yy"
                    ></p-calendar>
                </div>
                <div class="flex flex-column mt-4 max-w-20rem">
                    <div class="flex align-items-center column-gap-2 mb-2">
                        <label
                            class="label-required font-semibold"
                            for="fechaRespuesta"
                            >Fecha de Respuestas:
                        </label>
                        <i
                            class="pi pi-info-circle"
                            pTooltip="Fecha límite para enviar los formatos B y C a la coordinación. Asegúrate de enviar la información antes de esta fecha para cumplir con el plazo."
                            tooltipPosition="top"
                        ></i>
                    </div>
                    <p-calendar
                        id="fechaRespuesta"
                        formControlName="fechaRespuesta"
                        [showIcon]="true"
                        dateFormat="dd.mm.yy"
                    ></p-calendar>
                </div>
                <div class="flex flex-column mt-4">
                    <button
                        pButton
                        class="max-w-20rem align-self-end"
                        icon="pi pi-plus"
                        label="Rellenar Información"
                        (click)="generateContent()"
                        [disabled]="!isFormValid()"
                        pTooltip="Este botón generará automáticamente el contenido del oficio basado en los datos proporcionados en el formulario."
                        tooltipPosition="top"
                    ></button>
                    <label
                        class="label-required font-semibold my-2"
                        for="contenido"
                        >Contenido:</label
                    >
                    <textarea
                        pInputTextarea
                        id="contenido"
                        style="text-align: justify"
                        rows="20"
                        cols="30"
                        formControlName="contenido"
                        [readonly]="!isFormValid()"
                    ></textarea>
                </div>
                <div class="field grid mt-4">
                    <span class="col-9 text-right">
                        <b>Firma Coordinador(a)</b>
                    </span>
                    <div class="col-3 text-center">
                        <p-fileUpload
                            name="firmaCoordinador"
                            chooseIcon="pi pi-file"
                            accept=".png, .jpg, .jpeg"
                            chooseLabel="Seleccionar"
                            class="w-full max-w-30rem"
                            previewWidth="100"
                            [auto]="true"
                            (onSelect)="
                                onFirmaChange($event, 'firmaCoordinador')
                            "
                        >
                            <ng-template
                                let-file
                                pTemplate="file"
                                data-file="firma"
                            >
                                <div *ngIf="firmaCoordinador">
                                    <img
                                        [src]="firmaCoordinador"
                                        alt="Vista Previa de la Firma"
                                        style="
                                            min-height: 120px;
                                            min-width: 150px;
                                            width: 100%;
                                            height: 100%;
                                        "
                                    />
                                </div>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
                <div class="footer-logo mt-8">
                    <img
                        src="assets/layout/images/asset-calidad.png"
                        alt="Asset Calidad"
                        width="140px"
                        height="100px"
                    />
                    <div
                        class="flex flex-column align-items-center justify-content-center"
                    >
                        <span>
                            Carrera 2 No. 15N esquina-Sector Tulcán
                            Popayán-Cauca-Colombia Teléfono: 6028209800 ext.
                            2100 ó 2101. decafiet@unicauca.edu.co |
                            <strong>www.unicauca.edu.co</strong>
                        </span>
                    </div>
                    <img
                        src="assets/layout/images/logosIcontec.png"
                        alt="Logo Icontec"
                        width="120px"
                        height="80px"
                    />
                </div>
            </form>
        </div>
    </div>
    <div class="flex align-items-center justify-content-end mt-4 column-gap-2">
        <button
            pButton
            type="button"
            icon="pi pi-upload"
            label="Insertar"
            pTooltip="Haz clic para insertar el documento en el área de carga de archivos."
            tooltipPosition="top"
            (click)="onInsertar()"
        ></button>
        <button
            pButton
            type="button"
            icon="pi pi-download"
            label="Descargar"
            (click)="onDownload()"
            [loading]="loading"
        ></button>
    </div>
</p-panel>
