<br />

<form [formGroup]="vinculacionForm">
    <!-- Informacion Titulo -->
    <div class="col-4 text-right font-medium">
        <p><b>Información sobre vinculación</b></p>
    </div>
    <br />
    <div class="field grid">
        <div class="col-4 text-right font-medium align-self-center">
            <label>Universidad</label>
        </div>
        <div class="col-8">
            <input
                pInputText
                [maxLength]="250"
                class="p-inputtext-sm w-25rem"
                formControlName="universidadexp"
                [ngClass]="{ 'ng-invalid ng-dirty': getFormControl('universidadexp').invalid && getFormControl('universidadexp').touched }"
            />
        </div>
    </div>
    <div class="field grid">
        <div class="col-4 text-right font-medium align-self-center">
            <label>Facultad a la que pertenece</label>
        </div>
        <div class="col-8">
            <input
                pInputText
                [maxLength]="250"
                class="p-inputtext-sm w-25rem"
                formControlName="facultadexp"
                [ngClass]="{ 'ng-invalid ng-dirty': getFormControl('facultadexp').invalid && getFormControl('facultadexp').touched }"
            />
        </div>
    </div>
    <div class="field grid">
        <div class="col-4 text-right font-medium align-self-center">
            <label>Grupo de investigación</label>
        </div>
        <div class="col-8">
            <input
                pInputText
                [maxLength]="250"
                class="p-inputtext-sm w-25rem"
                formControlName="grupoinvexp"
            />
        </div>
    </div>

    <div class="field grid">
        <div class="col-4 text-right font-medium align-self-center">
            <label>Líneas de investigación</label>
        </div>
        <div class="col-8">
            <p-card [style]="{ width: '80%' }">
                <div *ngFor="let grupo of lineas">
                    <label class="group-name mb-2">{{ grupo.categoria }}</label>
                    <div class="checkbox-group ml-3">
                        <div *ngFor="let linea of grupo.lineas" class="checkbox-item">
                            <p-checkbox
                                [(ngModel)]="linea.seleccionado"
                                [ngModelOptions]="{ standalone: true }"
                                [label]="linea.titulo"
                                binary="true"
                                (onChange)="onCheckChange($event, linea.id)"
                            ></p-checkbox>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>

    <div class="field grid">
        <div class="col-4 text-right font-medium align-self-center">
            <label>Observación</label>
        </div>
        <div class="col-8">
            <textarea
                rows="5"
                cols="30"
                pInputTextarea
                [autoResize]="true"
                formControlName="observacionexp"
                style="width: 400px"
            ></textarea>
        </div>
    </div>
</form>
