<div class="layout-footer">
    <div class="grid my-2">
        <div class="col-6">
            <h5 class="text-blue">Contacto</h5>
            <p class="m-1">MAESTRÍA EN COMPUTACIÓN</p>
            <p class="m-1">Facultad de Ingeniería Electrónica y Telecomunicaciones</p>
            <p class="m-1">Teléfono: (602) 8209800, ext. 2103 - 2145</p>
            <p class="m-1">El coordinador del programa: PhD Luz Marina Sierra Martínez</p>
            <p class="m-1">Correo electrónico: eposgradosfiet@unicauca.edu.co - maestriacomputacion@unicauca.edu.co</p>
        </div>
        <div class="col-2">
        </div>
        <div class="col-4">
            <h5 class="text-blue">Enlaces de interés</h5>
            <ul>
                <li class="mb-1"> Universidad del Cauca</li>
                <li class="mb-1">Área de Egresados</li>
                <li class="mb-1"> Centro de Posgrados</li>
                <li class="mb-1">Portal de Ofertas Laborales</li>
                <li class="mb-1">Biblioteca</li>
                <li class="mb-1">Departamento de Sistemas</li>
                <li class="mb-1">Grupos de Investigación</li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-end">
    <p Class="m-0">Universidad del Cauca | Vigilada Mineducación</p>
    <p>Popayán, Colombia | NIT 891500319-2</p>
</div>
