<div
    #encabezadoSolicitud
    id="encabezadoSolicitud"
    class="grid"
    style="
        width: 216mm;
        padding-top: 2cm;
        padding-left: 2.5cm;
        padding-right: 2.5cm;
        margin-left: auto;
        margin-right: auto;
    "
>
    <div class="col">
        <div
            class="flex align-items-center justify-content-center text-blue-800 font-bold"
            style="min-height: 100px; font-family: Georgia, serif"
        >
            Facultad de Ingeniería Electrónica y Telecomunicaciones
        </div>
    </div>
    <div class="col-fixed" style="width: 100px">
        <img
            id="logoUnicauca"
            src="../../../../../assets/layout/images/logoUnicauca.png"
            alt="Escudo Unicauca"
            style="width: 100%; height: auto"
        />
    </div>
</div>

<div
    #contenidoSolicitud
    id="contenidoSolicitud"
    style="
        width: 216mm;
        padding-left: 2.5cm;
        padding-right: 2.5cm;
        margin-left: auto;
        margin-right: auto;
    "
>
    <app-plantillas></app-plantillas>
</div>

<div
    #piePaginaSolicitud
    id="piePaginaSolicitud"
    class="grid"
    style="
        width: 216mm;
        padding-left: 2.5cm;
        padding-right: 2.5cm;
        margin-left: auto;
        margin-right: auto;
    "
>
    <div class="col-fixed" style="width: 150px">
        <img
            id="logoIcontec"
            src="../../../../../assets/layout/images/logosIcontec.png"
            style="width: 100%; height: auto"
            alt="Sello ISO 9001"
        />
    </div>
    <div class="col">
        <div
            class="flex align-items-center justify-content-center text-blue-800 font-medium text-xs"
            style="min-height: 100px; font-family: Georgia, serif"
        >
            <div class="text-center">
                <div class="font-bold">
                    ¡Por una Universidad de Excelencia y Solidaria!
                </div>
                <div style="color: #af0000; white-space: nowrap">
                    __________________________________________________
                </div>
                <br />Facultad de Ingeniería Electrónica y Telecomunicaciones
                Calle 2 No. <br />3N-100 Segundo Piso. Sector Tulcán Popayán -
                Cauca - Colombia <br />Teléfono: 8209842 Conmutador 8209800
                www.unicauca.edu.co
            </div>
        </div>
    </div>
</div>

<div
    class="border-1 border-300"
    #vistaPreviaSolicitud
    id="vistaPreviaSolicitud"
    style="width: 216mm; margin-left: auto; margin-right: auto"
></div>

<!--
<div
    #proporcionContenido
    id="proporcionContenido"
    style="width: 216mm; height: 279mm"
></div>
-->
