.solicitud ::ng-deep.p-fieldset {
    margin-top: 2rem !important;
}

.solicitud ::ng-deep.p-fileupload .p-message {
    display: none;
}

.solicitud ::ng-deep.p-fileupload-buttonbar p-button {
    display: none;
}

.solicitud ::ng-deep.p-fileupload-content .p-fileupload-files.ng-star-inserted {
    display: none;
}

.solicitud
    ::ng-deep
    p-fileupload[ng-reflect-name="firmaEstudiante"]
    .p-fileupload-content
    .p-fileupload-files.ng-star-inserted {
    display: block;
}

.spinner {
    transform: translate(-50%, 50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.pdf-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pdf-viewer {
    width: 100%;
    height: 100%;
}

.text-description {
    color: gray;
}

@media (max-width: 1240px) {
    ::ng-deep.p-dialog.custom-docente-dialog,
    ::ng-deep.p-dialog.custom-experto-dialog {
        width: 60% !important;
    }

    .solicitud-wrap {
        flex-wrap: wrap;
        row-gap: 2rem;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    ::ng-deep.p-dialog.custom-docente-dialog,
    ::ng-deep.p-dialog.custom-experto-dialog {
        width: 70% !important;
    }
}

@media (max-width: 900px) {
    ::ng-deep.p-dialog.custom-docente-dialog,
    ::ng-deep.p-dialog.custom-experto-dialog {
        width: 80% !important;
    }
}

@media (max-width: 768px) {
    ::ng-deep.p-dialog.custom-docente-dialog,
    ::ng-deep.p-dialog.custom-experto-dialog {
        width: 90% !important;
    }
}

@media (max-width: 425px) {
    .solicitud ::ng-deep.p-card .p-card-title {
        text-align: center;
    }
}
