<p-panel header="Evaluaciones docente">
    <!-- Botón para agregar evaluación -->
    <div class="text-right mb-3">
        <button pButton icon="pi pi-plus" label="Agregar evaluación" (click)="onAddEvaluation()"></button>
    </div>

    <!-- Mensaje condicional -->
    <p-message *ngIf="!hasActiveEvaluations" severity="error" text="No existe una evaluación activa"></p-message>
    <p-message *ngIf="hasActiveEvaluations" severity="success" text="Existe una evaluación activa"></p-message>

    <!-- Tabla de evaluaciones -->
    <p-table #tableEvaluaciones [value]="evaluaciones" [paginator]="true" [rows]="5" [totalRecords]="totalRecords"
        [lazy]="false" [style]="{ 'margin-top': '1em' }" [sortField]="'anio'" [sortOrder]="1">
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" pSortableColumn="periodo">Periodo <p-sortIcon field="periodo"></p-sortIcon></th>
                <th scope="col" pSortableColumn="anio">Año <p-sortIcon field="anio"></p-sortIcon></th>
                <th scope="col" pSortableColumn="nombre">Nombre Cuestionario <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th scope="col" pSortableColumn="asignaturasEvaluadas">Asignaturas Evaluadas <p-sortIcon
                        field="asignaturasEvaluadas"></p-sortIcon></th>
                <th scope="col" pSortableColumn="estado">Estado <p-sortIcon field="estado"></p-sortIcon></th>
                <th scope="col" pSortableColumn="fechaCreacion">Fecha Creación <p-sortIcon
                        field="fechaCreacion"></p-sortIcon></th>
                <th scope="col" pSortableColumn="fechaInicio">Fecha Inicio <p-sortIcon field="fechaInicio"></p-sortIcon>
                </th>
                <th scope="col" pSortableColumn="fechaFin">Fecha Fin <p-sortIcon field="fechaFin"></p-sortIcon></th>
                <th scope="col">Opciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-evaluacion>
            <tr [ngClass]="{ 'active-row': evaluacion.estado === 'ACTIVO' }">
                <td>{{ evaluacion.periodo }}</td>
                <td>{{ evaluacion.anio }}</td>
                <td>{{ evaluacion.nombre }}</td>
                <td>{{ evaluacion.asignaturasEvaluadas }}</td>
                <td>{{ evaluacion.estado }}</td>
                <td>{{ evaluacion.fechaCreacion | date:'dd/MM/yyyy' }}</td>
                <td>{{ evaluacion.fechaInicio ? (evaluacion.fechaInicio | date:'dd/MM/yyyy') : 'No asignada' }}</td>
                <td>{{ evaluacion.fechaFin ? (evaluacion.fechaFin | date:'dd/MM/yyyy') : 'No asignada' }}</td>

                <!-- Opciones -->
                <td>
                    <button *ngIf="evaluacion.estado === 'ACTIVO'" pButton icon="pi pi-times"
                        class="p-button-rounded p-button-text p-button-danger"
                        (click)="confirmarCambioEstado($event, evaluacion, 'INACTIVO')"></button>
                    <button *ngIf="evaluacion.estado === 'INACTIVO'" pButton icon="pi pi-check"
                        class="p-button-rounded p-button-text p-button-success"
                        (click)="confirmarCambioEstado($event, evaluacion, 'ACTIVO')"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</p-panel>